# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
build

# Executable
RTX2090TiFy

# VS & VSCode
.vs
.vscode

# Exports
*.avi
*.mp4

# MS Visual Studio
CMakeSettings.json
